.footer {
	padding: 35px 0px;
	min-height: 200px;
	width: 100%;
	grid-gap: 1.5rem;
	display: grid;
	grid-template-columns: auto;
	place-content: center;
	place-items: center;

	&.darkTheme {
		background: var(--black);
		color: var(--white);
	}

	&.lightTheme {
		background: var(--lightGrey);
		color: var(--black);
	}

	& h2 {
		font: {
			size: 2rem;
			family: var(--sansSerifStack);
		}
	}

	& h3 {
		font: {
			size: 1.4rem;
			family: var(--sansSerifStack);
		}
	}	
		
}

.connectionLinkGrid {
	padding-top: 10px;
	display: grid;
	grid-auto-flow: column;
	grid-gap: 1.5rem;
	align-items: center;
	justify-content: center;

	& a {
		width: auto;
	}
}


